@charset "UTF-8";

body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../imagens/my.jpg");
}
h2 {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px blue;
    text-align: center;
}
ul {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
nav {
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    background-color: rgba(127, 0, 211, 0.315);
}
footer {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 75%;
    text-align: center;
}